@font-face {
    font-family: "dripicons-v2";
    src: url("dripicons-v2.eot");
    src: url("dripicons-v2.eot?#iefix") format("embedded-opentype"),
         url("dripicons-v2.woff") format("woff"),
         url("dripicons-v2.ttf") format("truetype"),
         url("dripicons-v2.svg#dripicons-v2") format("svg");
    font-weight: normal;
    font-style: normal;
}
