html, body {
    height: 100%;
}
body {
    line-height: 1.8em;
    font-family: merriweather, serif;
    font-size: 1.1em;
}

/* Links */
a {
    color: #005282;
    text-decoration: none;
    transition: color 0.5s ease;
}
a:hover {
    color: #00395B;
}

/* Header */
header {
    width: 100%;
    height: 100px;
}
header a {
    display: block;
    height: 100px;
    line-height: 100px;
    font-family: proxima-nova, sans-serif;
    color: #333;
    transition: color 0.5s ease;
}
header:hover a {
    color: #777;
}
header a:hover {
    color: #333;
}
header > a {
    float: left;
    padding: 0 30px;
    font-size: 30px;
}
header > a > strong {
    font-weight: 600;
}
nav {
    float: right;
    padding-right: 15px;
}
nav > a {
    float: left;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 600;
    text-transform: lowercase;
}
@media (max-width: 700px) {
    header {
        text-align: center;
    }
    header > a {
        float: none;
        height: 50px;
        line-height: 50px;
        padding: 15px 0 0;
    }
    nav {
        float: none;
        width: fit-content;
        margin: auto;
        padding: 0;
    }
    nav > a {
        height: 30px;
        line-height: 30px;
    }
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
    margin-top: 1em;
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
}
h1 { font-weight: 800; font-size: 3em; }
h2 { font-size: 2.25em; }
h3 { font-size: 1.75em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; margin-top: 1.1em; }
h6 { font-size: 1em; margin-top: 1.3em; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: inherit;
}

/* General text blocks */
p, ul, ol, li, pre, blockquote, table {
    margin-top: 1em;
}
ul > li {
    margin-left: 2em;
    list-style-type: disc;
}
ol > li {
    margin-left: 2em;
    list-style-type: decimal;
}
pre {
    white-space: pre;
}
code {
    background-color: #F5F5F5;
    font-family: monospace;
    font-size: 1.1em;
}
pre > code {
    display: block;
    line-height: 1.2em;
    padding: 1.2em 1em;
    white-space: pre;
    overflow: scroll;
    border: 1px dashed #DDD;
}
blockquote {
    overflow: hidden;
    margin-top: 1.9em;
    margin-bottom: 2em;
}
blockquote:before {
    display: block;
    float: left;
    width: 80px;
    padding-top: 0.6em;
    font-size: 6em;
    font-weight: bold;
    color: #CCC;
    content: "“";
}
blockquote p {
    width: 80%;
    line-height: 1em;
    margin: 0;
    margin-left: 80px;
    padding: 0.5em;
    font-family: proxima-nova, sans-serif;
    font-size: 2em;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
@media (max-width: 700px) {
    blockquote p {
        width: auto;
    }
}
@media (max-width: 450px) {
    blockquote:before {
        float: none;
    }
    blockquote p {
        margin-left: 0;
    }
}

/* Blog and pages */
article > h1, article > h2, article > h3, article > h4, article > h5, article > h6, article > p, article > blockquote,
article > ul, article > ol, article > pre, article > section, article > table, div.normal {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}
article img {
    max-width: 100%;
}
article .narrow {
    max-width: 300px;
}
article .medium {
    max-width: 600px;
}
article .wide {
    max-width: 1200px;
    margin-top: 2em;
}
article .full {
    max-width: 100%;
    margin-top: 2.5em;
}
@media (max-width: 900px) {
    article .wide {
        margin-top: 1em;
    }
    article .full {
        margin-top: 1em;
    }
}
article .image, article .wide, article .full {
    padding-left: 0;
    padding-right: 0;
}
article.preview {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}
article.preview h2 {
    margin-top: 0.3em;
    font-size: 1.75em;
}
p.summary, p.caption, p.published {
    font-family: proxima-nova, sans-serif;
    color: #999
}
p.summary {
    font-size: 1.3em;
}
p.caption {
    line-height: 1.4em;
    margin-top: 0;
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}
article th, article td {
    padding: 0.25em 1.5em;
}
article th {
    margin-bottom: 0.2em;
    border-bottom: 1px solid #EAEAEA;
    font-weight: bold;
}
p.published {
    overflow: hidden;
}
p.published span.keywords {
    float: right;
}
:not(article.preview) p.published {
    margin-top: 2em;
}
a.keyword {
    display: inline-block;
    line-height: 1em;
    padding: 0.5em;
    background-color: #BBB;
    border-radius: 1em;
    font-family: proxima-nova, sans-serif;
    font-size: 0.9em;
    color: #FFF;
}
a.keyword:hover {
    color: #FFF;
}
.active-keyword a.keyword {
    background-color: #DDD;
}
.active-keyword a.keyword.active {
    background-color: #BBB;
}
a.permalink {
    display: inline-block;
    opacity: 0;
    line-height: 1em;
    margin-left: 0.4em;
    font-family: dripicons-v2;
    font-size: 0.5em; /* TODO: screws margins? */
    color: #CCC;
    transition: opacity 0.2s ease, color 0.2s ease;
}
a.permalink:after {
    content: "\e00e";
}
a.permalink:hover {
    color: #666;
}
*:hover > a.permalink {
    opacity: 1;
}
.instagram-media {
    margin: 1em auto 0 !important;
}

/* Social links */
.social {
    line-height: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
    font-size: 2em;
}
.social a {
    display: inline-block;
    line-height: 1em;
    font-size: 2em;
    font-family: socialico;
    color: #000;
}
.social a:hover {
    color: #000;
}
.social a.plus {
    font-family: socialico-plus;
}
.social a.facebook { color: rgb(0, 106, 255); }
.social a.facebook:hover { color: rgb(0, 74, 179); }
.social a.twitter { color: rgb(29, 161, 242); }
.social a.twitter:hover { color: rgb(20, 113, 169); }
.social a.pinterest { color: rgb(230, 0, 35); }
.social a.pinterest:hover { color: rgb(161, 0, 25); }
.social a.email { color: rgb(100, 100, 100); }
.social a.email:hover { color: rgb(70, 70, 70); }

/* Other */
.smaller {
    font-size: 0.8em;
}
.center {
    text-align: center;
}
.rounded-img img {
    border-radius: 50%;
}
time {
    cursor: help;
}
sup {
    vertical-align: super;
    font-size: 0.6em;
}
sub {
    vertical-align: sub;
    font-size: 0.6em;
}
